<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static  'style.css' %}">
    {% block head %}

    {% endblock %}
</head>
<body>

<ul>
  <li><a class="active" href="#home">О нас</a></li>
  <li><a href="/categories">Категории</a></li>
  <li><a href="/products">Продукты</a></li>
  <li><a href="#pay">Оплата</a></li>
  <li><a href="#delivery">Доставка с 8:00-22:00</a></li>
</ul>
 <br>
    {% block content %}
Вы составляете и оформляете заказ на сайте или в приложении. Все цены соответствуют ценам гипермаркетов. Оплата заказа — при получении.
Вы можете заказать доставку продуктов на дом или в офис. Доставка возможна только для адресов, попадающих в зону охвата. Как узнать, какие магазины на данный момент доступны для вашего адреса? Всё просто: при входе на сайт вы вводите название улицы и номер дома, а система отправляет вас в доступный магазин.
Вы выбираете доступное время доставки. Обычно все выбирают доставку в тот же день и как можно быстрее. Вы можете отслеживать комплектацию и доставку своего заказа в Личном кабинете.
В торговом зале магазина ваш заказ собирает пикер. Внимательно и придирчиво. Как для себя! Молочные продукты с максимально «свежей» датой (из глубин полки, конечно же!), яйца внутри упаковки целые, овощи-фрукты посимпатичнее и т.д.
Если, пока шёл заказ, какой-то товар в магазине закончился или у всей партии плохой товарный вид, пикер позвонит вам, объяснит ситуацию и предложит варианты замен.
Заказ фасуется по пакетам, термосумкам и контейнерам.
Курьер загружает контейнеры и мчится к вам быстрее ветра. Вы принимаете, проверяете и оплачиваете заказ. При онлайн-оплате деньги спишутся только после проверки заказа.
    {% endblock %}

</body>
</html>