<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static  'style.css' %}">
    {% block head %}

    {% endblock %}
</head>
<body>

<ul>
    <li><a class="active" href="#home">О нас</a></li>
    <li><a href="/categories">Категории</a></li>
    <li><a href="/products">Продукты</a></li>
    {% if not user.is_anonymous %}
        <li><a href="/products/create/">Создание продукта</a></li>
        <li><a href="/users/logout/">Выйти</a></li>
    {% else %}
        <li><a href="/users/auth/">Логин</a></li>
        <li><a href="/users/register/">Регистрация</a></li>
    {% endif %}
  <li><a href="#delivery">Доставка с 8:00-22:00</a></li>
</ul>

 <br>
    {% block content %}
    {% endblock %}

</body>
</html>