{% extends 'layouts/index.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static  'style.css' %}">
{% endblock %}
{% block content %}
    <div class="product" style="width: 40%;">
      {% if product.image %}
        <img src="{{product.image.url}}" >
      {% else %}
        <img src="https://www.weddingsbylomastravel.com/images/paquetes/default.jpg" >
      {% endif %}
      <div class="card-body">
        <p class="card-title"> <strong>Название</strong>: {{product.title}}</p>
        <p class="card-text"><strong>Описание</strong>: {{product.description}}</p>
        <p class="card-text"><strong>Цена</strong>: {{product.price}}</p>
      </div>
    </div>
    <div class="dates">
        <p class="card-text"><small class="text-muted">Дата: {{product.created_date}}</small></p>
    </div>
    <div class="Create_Review">
        <form action="/products/{{ product.id }}/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create_Review">
        </form>
    </div>
    <div class = 'comments'>
        <h4>Отзывы</h4>

        {% for review in reviews %}
            <div class = 'comment'>
                <p>{{ review.text }}</p>
                <p>{{ review.created_date }}</p>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}