<!doctype html>
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ssss</title>
</head>
<body>
<div>
      {% for item in category_products %}
            <div class ='Category'>
                <p>{{ item.title }}</p>
                <img src="{{item.image.url}}" alt="Изображение">
            </div>
            <br>
        {% endfor %}
</div>
</body>
</html>